
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mobilization Capabilities</h2>
        <h3 class="section-subheading text-muted">Say The Word</h3>
      </div>
    </div>
    <div class="row new-text">
      <div class="col-lg-12">



        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item"> <div class="portfolio-caption">
            Field Strength: <%=RobotWorld.all.count  %>  |
            Average Age: <%= RobotWorld.average_age %> </div> </div>
            <div class="col-md-4 col-sm-6 portfolio-item"> <div class="portfolio-caption">
              Contract Years:
              <% RobotWorld.count_in("hired_year").each_with_index do |year_count, index| %>
              <%= year_count[1] %> bots(s) Deployed in <%= year_count[0] %><%= "," unless RobotWorld.count_in("hired_year").count - 1 == index %>
              <% end %> </div> </div>
              <div class="col-md-4 col-sm-6 portfolio-item"> <div class="portfolio-caption">
                Departments:
                <% RobotWorld.count_in("department").each_with_index do |department_count, index| %>
                <%= department_count[1] %> bot(s) deployed for <%= department_count[0] %><%= "," unless RobotWorld.count_in("department").count - 1 == index %>
                <% end %> </div> </div>
                <div class="col-md-4 col-sm-6 portfolio-item"> <div class="portfolio-caption">
                  Cities:
                  <% RobotWorld.count_in("city").each_with_index do |city_count, index| %>
                  <%= city_count[1] %> bot(s) deployed in <%= city_count[0] %><%= "," unless RobotWorld.count_in("city").count - 1 == index %>
                  <% end %> </div> </div>
                  <div class="col-md-4 col-sm-6 portfolio-item"> <div class="portfolio-caption">
                    States:
                    <% RobotWorld.count_in("state").each_with_index do |state_count, index| %>
                    <%= state_count[1] %> bot(s) deployed in <%= state_count[0] %><%= "," unless RobotWorld.count_in("state").count - 1 == index %>
                    <% end %> </div> </div>



                  </div>
                </div>
            </div>
          </div>
      </section>